/* selektorius: { savybesPav: savybesReiksme } */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  color: tomato;
}

p.special {
  font-style: italic;
  color: blueviolet;
  font-size: 20px;
}

img.main-img {
  border: 2px solid #000;
}

.hide {
  display: none;
}
